<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!--
    Produkcyjne założenia:
    - stdout w formacie JSON (1 event == 1 linia) => idealne pod K8S + Fluent Bit / Loki / ELK / Graylog
    - rolling file opcjonalny (domyślnie włączany na Windows poza kontenerem):
        MYAPP_LOG_FILE_ENABLED=true|false
        MYAPP_LOG_DIR=/path/to/logs
        MYAPP_LOG_FILE_MAXARCHIVE=14
    - scope: CorrelationId/TraceId/SpanId/RequestId (z CorrelationIdMiddleware.BeginScope)
  -->

	<targets>
		<!-- stdout JSON (async, żeby nie blokować requestów) -->
		<target name="console_async" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="5000" batchSize="200">
			<target name="console" xsi:type="Console">
				<layout xsi:type="JsonLayout"
						includeEventProperties="true"
						includeScopeProperties="true"
						excludeEmptyProperties="true"
						suppressSpaces="true">

					<attribute name="ts" layout="${date:format=o}" />
					<attribute name="lvl" layout="${level:upperCase=true}" />
					<attribute name="logger" layout="${logger}" />
					<attribute name="msg" layout="${message}" />
					<attribute name="template" layout="${message:raw=true}" />

					<attribute name="exception" layout="${exception:format=ToString}" />

					<attribute name="app" layout="${environment:variable=MYAPP_APP:whenEmpty=unknown}" />
					<attribute name="env" layout="${environment:variable=MYAPP_ENV:whenEmpty=unknown}" />
					<attribute name="machine" layout="${machinename}" />
					<attribute name="pid" layout="${processid}" />
					<attribute name="tid" layout="${threadid}" />

					<!-- korelacja -->
					<!--<attribute name="correlationId" layout="${scopeproperty:item=CorrelationId}" />
          <attribute name="traceId" layout="${scopeproperty:item=TraceId}" />
          <attribute name="spanId" layout="${scopeproperty:item=SpanId}" />
          <attribute name="requestId" layout="${scopeproperty:item=RequestId}" />-->
				</layout>
			</target>
		</target>

		<!-- rolling file (opcjonalny) -->
		<target name="file_async" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="5000" batchSize="200">
			<target name="file" xsi:type="File"
					fileName="${environment:variable=MYAPP_LOG_DIR:whenEmpty=${basedir}/logs}/${shortdate}.log"
					archiveFileName="${environment:variable=MYAPP_LOG_DIR:whenEmpty=${basedir}/logs}/archive/${shortdate}.{#}.log"
					archiveEvery="Day"
					archiveNumbering="Rolling"
					maxArchiveFiles="14"
              
					keepFileOpen="false"
					encoding="utf-8">
				<layout xsi:type="JsonLayout"
						includeEventProperties="true"
						includeScopeProperties="true"
						excludeEmptyProperties="true"
						suppressSpaces="true">

					<attribute name="ts" layout="${date:format=o}" />
					<attribute name="lvl" layout="${level:upperCase=true}" />
					<attribute name="logger" layout="${logger}" />
					<attribute name="msg" layout="${message}" />
					<attribute name="template" layout="${message:raw=true}" />

					<attribute name="exception" layout="${exception:format=ToString}" />

					<attribute name="app" layout="${environment:variable=MYAPP_APP:whenEmpty=unknown}" />
					<attribute name="env" layout="${environment:variable=MYAPP_ENV:whenEmpty=unknown}" />

					<!--<attribute name="correlationId" layout="${scopeproperty:item=CorrelationId}" />
					<attribute name="traceId" layout="${scopeproperty:item=TraceId}" />
					<attribute name="spanId" layout="${scopeproperty:item=SpanId}" />
					<attribute name="requestId" layout="${scopeproperty:item=RequestId}" />-->
				</layout>
			</target>
		</target>
	</targets>

	<rules>
		<!-- Wszystko co przejdzie filtry z "Logging:LogLevel" idzie na stdout -->
		<logger name="*" minlevel="Trace" writeTo="console_async" />

		<!-- File: tylko jeśli MYAPP_LOG_FILE_ENABLED=true -->
		<logger name="*" minlevel="Trace" writeTo="file_async">
			<filters>
				<when condition="equals('${environment:variable=MYAPP_LOG_FILE_ENABLED:whenEmpty=false}','true')" action="Log" />
				<when condition="true" action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>
